node_modules
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
.next
out
.vercel
.output
.remix-serve
.remix-serve-build
.remix-serve-cache
.remix-serve-data
.remix-serve-public
.remix-serve-server
